$breakpoint-mobile: 375px;
$breakpoint-tablet: 720px;
$breakpoint-desktop: 1200px;

$clr-bg-light: hsl(0, 0%, 95%);
$clr-bg-dark: hsl(0, 0%, 7%);
$clr-accent-folly: hsl(354, 100%, 64%);
$clr-accent-citrine: hsl(52, 73%, 56%);
$clr-links: hsl(199, 72%, 41%);
$clr-headers: hsl(188, 45%, 14%);
